.outer {
    width: 300px;
    height: 430px;
    box-shadow: 0 0 10px â˜ rgba(0, 0, 0, 0.2);
    padding : 10px;
    color: black !important;
    text-decoration: none;
    position: relative; 
    background-color: white;
    /* border: 1px solid black; */
    
    }
.border{
    border-bottom: 1px solid;
    border-color: black;
    width: 100% !important;
    height: fit-content;
}

    .flex{
        display: flex;
        flex-wrap: wrap;
        gap: 16px; /* Adjust the gap between items */
        padding: 16px;
        justify-content: center;
    }
    .wide{
       
        display: flex;
        flex-wrap: wrap;
        gap: 16px; /* Adjust the gap between items */
        padding: 16px;
        justify-content: center;
    }
    .price,.rate,.count,.title>p{
        
        color: black !important;
        }
        
        .button {
            display: none;
            padding: 5px 10px;
            font-weight: 700;
            border: none;
            cursor: pointer;
            background-color :rgb(255, 159, 49);
            width: 100%;
            margin: 10px 0;
            border-radius: 30px;
            position: absolute;
            bottom: 0;
            left: 0;
            }
           
            .button:hover {
            background-color:rgb(255, 117, 4);
            }


.outer:hover .button {
    display: block;
    }
.img>img {
    padding: 10px;
    width: 300px;
    height: 300px;
    object-fit: contain;
    }

    .block{
        display:block;
        max-width :300px;
        padding-top: 10px;
    }
    .none{
        display:none;
    }
    .title :first-child{
        max-width:400px;
      
    }
    .link{
        text-decoration: none !important;
    }
    @media (max-width: 480px) {
        .ProductDetailcss{
            display: inline-block;
        }
    }