.outer {
    width: 300px;
    height: 530px;
    box-shadow: 0 0 10px â˜ rgba(0, 0, 0, 0.2);
    padding : 10px;
    color: black !important;
    text-decoration: none;
    position: relative; 
    background-color: white;
    /* border: 1px solid black; */
    
    }
    .flex{
        padding-left: 16px;
        margin-top: -60px !important;
      
    }
    .price,.rate,.count,.title>p{
        
        color: black !important;
        }
        
        .button {
            display: none;
            padding: 5px 10px;
            font-weight: 700;
            border: none;
            cursor: pointer;
            background-color :rgb(255, 159, 49);
            width: 100%;
            margin: 10px 0;
            border-radius: 30px;
            position: absolute;
            bottom: 0;
            left: 0;
            }
           
            .button:hover {
            background-color:rgb(255, 117, 4);
            }


.outer:hover .button {
    display: block;
    }
.img>img {
    padding: 10px;
    width: 300px;
    height: 300px;
    object-fit: contain;
    }
.titleDiv{
    height: 115px;
    width: 100%;
   
    /* margin: bottom 90px; */
}
.Category{
padding: 30px;
}
.Results{
font-weight: 800;
font-size: x-large;
padding: 15px 0 0 30px;
}
@media (min-width: 561px) {
    .flexbox{
        display: flex;
        
    }
    .outer {
        width: 70%;
        margin: auto;
    }
    .button{
        display: block;
        position: relative;
        width: 200px;
    }
    .img>img {
        font-size: xx-large;
        padding: 10px;
        width: 400px;
        height: 400px;
        object-fit: contain;
        }
        .title :first-child{
            font-size: 25px;
            font-weight:700;
            margin-bottom: 15px;
        }
        .title :nth-child(2){
            font-size: 20px;
            margin-bottom: 15px;
        }
}
