.first{
    background-color: rgb(35,47,62);
    height: 40px;
}
.ul{
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
}
.all{ 
    top: 113px;
    
}

li{
    list-style-type: none; 
    height: 90%;
    width: auto;
}
.a {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    border-radius: 2px;
    border: 1px solid  rgb(35,47,62) ;
    text-decoration: none;
    margin-left: 15px;
    color: white;
  }
.a:hover{
    border:  1px solid white;
  }
  
 .a span {
    display: flex;
    align-items: center;
  }
  
.a span + span {
    margin-left: 8px; /* Adjust this value as needed */
  }
  
  